/* --- Color Variables based on the image --- */
:root {
    /* Sampled from the image: The main background color */
    --main-orange: #FF711B; 
    /* The text color, which is a slightly desaturated version of the main color */
    --text-overlay-color: #FF711B; 
}
@font-face {
  font-family: Trailers;
  src: url(../Fonts/TT\ Trailers\ Bold.woff);
}

@font-face {
  font-family: TTCommons-Medium;
  src: url(../Fonts/TTCommons-Medium.woff);
}

body{
     background-color: var(--main-orange); 
 margin: 0;
} 

h1{
    font-family: Trailers;
    font-size: 115px;
    font-weight: bold;
    color: #F7F4E8;
    text-transform: uppercase;
    line-height: 120px;
    text-align: center;
    margin: 0;
}
h4{
  font-family: TTCommons-Medium;
   font-size: 24px;
       font-weight: 500;
padding: 0 0 56px;
    color: #F7F4E8;
    letter-spacing: 0.4px;
    margin: 0;
        text-align: center;
    /* line-height: 120px;
    text-align: center;
    margin: 0; */
}
h6{
    font-size:18px;
    font-weight: 500;
      font-family: TTCommons-Medium;
         color:#F7F4E8;
letter-spacing: 0.4px;
}
.AmazoneButton{
  font-family: TTCommons-Medium;
    font-size: 27px;
    text-decoration: none;
    color:#F7F4E8;
    background-color: #2E3B92;
    padding:16px 98px;
    border-radius: 50px;
    padding-top: 18px;
}
.stackman-section {
    /* 1. Container Setup */
    width: 100%;
    height: 100vh; /* Takes up full screen height */
   
  position: relative;
    
    /* 2. Flexbox for Tiling */
   
    background-image: url(../Images/Layer\ 1.png);
    background-repeat: no-repeat;
   background-size: cover;
background-repeat: no-repeat;
    background-size: 78% 148%;
     background-position: center;
}
.MainContainer {
    display: flex
;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}
.stackman-section .MainDiv .formSection {

    display: flex;
    justify-content: center;
    align-items: center; 
       gap: 16px;
           margin-top: 19px;
}
.stackman-section .MainDiv .formSection 
.inputFiled .email-input { 
background: transparent !important;
    border: 1.13px solid #fff;
    border-radius: 50px;
    padding: 5px 15px;
padding-top: 8px;
    width: 100%;
}
.break{
    display: none;
}
.email-input::placeholder {

  font-family: TTCommons-Medium;
  font-size: 18px;

  color:#F7F4E8;
}
.email-input:focus {
      
  outline: none;
}
.CopyRight{
    position: absolute;
    right: 23px;
    bottom: 0;
    color: var(--copyright-color);
    font-size: 0.8em;
    /* opacity: 0.7; */
    font-family: sans-serif;
}
@media (max-width: 1440px) {
    .stackman-section{
            background-position: center -64px;
                background-size: 78% 165%;
    }
h4 {
    padding: 0 0 100px;
    
}
}
@media (max-width: 767px) {
    h1{
        line-height: 56px;
    font-size: 56px;
    }
    h1 br{
        display: none;
    }
    h1 .break{
        display: block;
    }
h4{
            padding-top: 14px;
            
        line-height: 21px;
        max-width: 50%;
        font-size: 18px;
        margin: 0 auto;
        padding-bottom: 26px;
}
.AmazoneButton{
            padding: 11px 39px;

    font-size: 17px;
}
.stackman-section .MainDiv .formSection {
    display: block
;
}
.formSection .paraDescrpitoin h6{
    max-width: 60%;
        text-align: center;
        margin: 0 auto;
    
        padding: 56px 0 14px;
}
.inputFiled {
    text-align: center;
}
.CopyRight {

    right: 50%;
    
    transform: translateX(50%);
}
.stackman-section {

           background-size: cover;
    background-image: url(../Images/Stackman\ Page\ -\ Mobile.png);
}

.MainContainer {

    height: auto;
    margin-top: 70px;
}
.stackman-section .MainDiv .formSection .inputFiled .email-input{
        padding: 9px 22px;
    text-align: center;
}
.stackman-section .MainDiv .formSection .inputFiled .email-input{
    width:auto;
}
.email-input::placeholder {


  font-size: 15px;


}
.CopyRight h6{
      font-size: 12px;
}
}